<!-- <embed src="\assets\audio\bgHomeMusic.mp3" loop="true" autostart="true" width="2"
height="0">
<audio src="\assets\audio\bgHomeMusic.mp3"></audio> -->
<!-- <audio #audio style="display: none;" autoplay>
  <source src="\assets\audio\bgHomeMusic.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio> -->

<!-- <img src="E:\assets\drawable-hdpi-v4plash1.gif" alt="" height="100%" width="100%" > -->

<ion-content class="backImg"  [fullscreen]="true" >
 



<ion-slides [options]="option" class="ion-margin-top">
    
  
    <ion-slide *ngFor="let img of imageArray, let i = index">
      
        <img src="{{img}}" (click)="showPopover($event, i)" >
      
    </ion-slide>


  
    
    <!-- <ion-slide>
      <ion-card>
        <img src="assets/images/04.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/03.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/02.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/01.jpg">
      </ion-card>
    </ion-slide> -->


  </ion-slides>
  
  <ion-list *ngIf="isOpen">
    <ion-item>
      <ion-label>Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Radio</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>

